ul li {
    display: inline-block;
    background-color:#eee;
    list-style-type:none;
    margin-right:-2px;
    padding:10px;
    border-right:1px solid white;
}

a:hover {
    color: #1eff36;
}

td.top_banners .preview {
    height: 80px;
    overflow: hidden;
    display: block;
    margin-top: 5px;
}

td.top_banners a {
    text-decoration: none;
    color: #FFAA13;
}

td.top_banners * {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

td.top_banners li {
    float: left;
    list-style-type: none;
    height: 110px;
    width: 250px;
    padding: 5px 5px 2px 5px;
    text-align: center;
    margin-left: 12px;
    font-weight: bold;
    color: #000;
    font-size: 11px;
}

body {
    background-color: ivory;
}

div.top_menu a {
    font-style: normal;
    font-weight: 700;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

div.tech h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

div.description h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

tbody td {
    color: #701565;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    background: white;
}

div.description p {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

div.image img {
    border: 20px solid #701565;
}

div.contact_form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

div.contact_form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div.contact_form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div.contact_form input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div.contact_form textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

div.contact_form input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div.contact_form input[type=submit]:hover {
    background-color: #45a049;
}

div.contact_form input[type=reset] {
    width: 100%;
    background-color: #af3428;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div.contact_form input[type=reset]:hover {
    background-color: #a00703;
}

.logo_image {
    width: 80px;
    height: 80px;
}

.logo_image img {
    width: 100%;
    height: auto;
}

input[type=email]:focus {
    background-color: cornflowerblue;
    font-weight: bolder;
    color: #FFAA13;
}

input[type=text] {
    text-transform: capitalize;
}