<!DOCTYPE html>
<html lang="en">
<head>
    <title>Catalogue - www.ikrugloff.com</title>
    <meta name="catalogue" content="Catalogue">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div id="container">
        <div class="header">
            <div class="in">
                <div class="top_menu">
                    <ul style="display: inline">
                        <li>
                            <a href="../index.html">Shop</a>
                        </li>
                        <li>
                            <a href="catalogue.html">Catalogue</a>
                        </li>
                        <li>
                            <a href="contacts.html">Contacts</a>
                        </li>
                    </ul>
                </div>
                <hr>
            </div>
        </div>
        <div class="content">
            <h1>Catalogue</h1>
            <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                <tbody>
                    <tr>
                        <td class="top_banners">
                            <ul>
                                <li>
                                    <a href="catalogue/0001.html">Raspberry Pi 3 Model B+ 1GB RAM</a>
                                    <a class="preview" href="catalogue/0001.html">
                                        <img src="../static/raspberrypi_0001_preview_small.jpeg">
                                    </a>
                                </li>
                                <li>
                                    <a href="catalogue/0002.html">ASUS Tinker Board S</a>
                                    <a class="preview" href="catalogue/0002.html">
                                        <img src="../static/asustinkerboard_0002_preview_small.jpeg">
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bottom">
            <hr>
            <footer>
                G-Shop&copy;2018. All Rights Reserved.
            </footer>
        </div>
    </div>
</body>
</html>