<!DOCTYPE html>
<html lang="en">
<head>
    <title>G-Shop - www.ikrugloff.com</title>
    <meta name="contacts" content="Contacts">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div id="container">
        <div class="header">
            <div class="in">
                <div class="top_menu">
                    <ul style="display: inline">
                        <li>
                            <a href="../index.html">Shop</a>
                        </li>
                        <li>
                            <a href="catalogue.html">Catalogue</a>
                        </li>
                        <li>
                            <a href="contacts.html">Contacts</a>
                        </li>
                    </ul>
                </div>
                <hr>
            </div>
        </div>
        <div class="content">
            <h1>Contacts</h1>
            <a href="https://www.artlebedev.ru/typograf/" target="_blank">Link to typographer</a>
        </div>
        <div class="bottom">
            <hr>
            <footer>
                G-Shop&copy;2018. All Rights Reserved.
            </footer>
        </div>
    </div>
</body>
</html>