<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contacts - www.ikrugloff.com</title>
    <meta name="contacts" content="Contacts">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div id="container">
        <div class="header">
            <div class="in">
                <div class="top_menu">
                    <ul style="display: inline">
                        <li>
                            <a href="../index.html">Shop</a>
                        </li>
                        <li>
                            <a href="catalogue.html">Catalogue</a>
                        </li>
                        <li>
                            <a href="contacts.html">Contacts</a>
                        </li>
                    </ul>
                </div>
                <hr>
            </div>
        </div>
        <div class="content">
            <h1>Contacts</h1>
            <a href="https://www.artlebedev.ru/typograf/" target="_blank">Link to typographer</a>
            <h2>Contact us</h2>
            <form action="#">
                <label>
                    Name
                    <input type="text" placeholder="Ilya">
                </label><br>
                <label>
                    Password
                    <input type="password">
                </label><br>
                <label>
                    E-mail
                    <input type="email">
                </label><br>
                <label>
                    Topic
                    <input type="text">
                </label><br>
                <label>
                    <textarea cols="30" rows="10"></textarea>
                </label>
                <br>
                <p>Your hobbies</p>
                <label><input type="checkbox">Sport</label><br>
                <label><input type="checkbox">IT</label>
                <br>
                <p>Sex</p>
                <label>
                    M
                    <input type="radio" name="sex" checked>
                </label>
                <label>
                    F
                    <input type="radio" name="sex">
                </label>
                <br>
                <p>Date of birth</p>
                <label>
                    <input type="date">
                <br>
                </label><br>
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </form>
            <br>
            <h3>Address</h3>
            <p>Our phone number is +7 999 999 99 99</p>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aff2e795ab594053338888af5b9f4ad3caaf558e338593973b3e36be11ae11a6f&amp;width=662&amp;height=537&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
        <div class="bottom">
            <hr>
            <footer>
                G-Shop&copy;2018. All Rights Reserved.
            </footer>
        </div>
    </div>
</body>
</html>