<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raspberry Pi 3 Model B+ 1GB RAM</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>
    <div id="container">
        <div class="header">
            <div class="in">
                <div class="top_menu">
                    <ul style="display: inline">
                        <li>
                            <div class="logo_image">
                                <img src="../../static/logo_338_338.jpg">
                            </div>
                        </li>
                        <li>
                            <a href="../../index.html">Shop</a>
                        </li>
                        <li>
                            <a href="../catalogue.html">Catalogue</a>
                        </li>
                        <li>
                            <a href="../contacts.html">Contacts</a>
                        </li>
                    </ul>
                </div>
                <hr>
            </div>
        </div>
        <div class="content">
            <div class="product_item">
                <div class="text">
                    <div class="pictures">
                        <div class="preview">
                            <div class="image">
                                <a href="../../static/raspberrypi_0001.jpeg" target="_blank">
                                    <img src="../../static/raspberrypi_0001_preview_big.jpeg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <h1>Raspberry Pi 3 Model B+ 1GB RAM</h1>
                        <div class="articul">
                            <p>Артикул:
                                <b>RASP0001</b>
                            </p>
                        </div>
                        <div class="price">
                            <p>Цена:
                                <b>4000 руб.</b>
                            </p>
                        </div>
                    </div>
                    <div class="tech">
                        <h3>Технические характеристики</h3>
                        <table cellpadding="2">
                            <tbody>
                                <tr>
                                    <th style="background: grey; text-align: right">Процессор: </th>
                                    <td>Broadcom BCM2837B0, Cortex-A53 64-bit SoC @ 1.4GHz</td>
                                </tr>
                                <tr>
                                    <th style="background: grey; text-align: right">Размеры: </th>
                                    <td>85 x 56 x 17 mm</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="description">
                        <h3>Описание товара</h3>
                        <p>
                            <strong>Raspberry Pi 3 Model B+ 1GB RAM</strong>
                             - обновленная версия Raspberry Pi 3 построенная на чипе Broadcom BCM2837B0 4-х ядерным
                            ARM Cortex-A53 с тактовой частотой 1.4GHz. Плата оборудованна двухдиапазонным (2,4/5 ГГц)
                            адаптером беспроводной связи Wi-Fi с поддержкой стандартов IEEE 802.11b/g/n/ac, Bluetooth 4.2, BLE.
                            Также Raspberry Pi 3 Mode B+ оснащена быстрым портом Ethernet(с максимальная пропускной
                            способностью 300 Мбит / с).
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <hr>
            <footer>
                G-Shop&copy;2018. All Rights Reserved.
            </footer>
        </div>
    </div>
</body>
</html>