<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASUS Tinker Board S</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>
    <div id="container">
        <div class="header">
            <div class="in">
                <div class="top_menu">
                    <ul style="display: inline">
                        <li>
                            <a href="../../index.html">Shop</a>
                        </li>
                        <li>
                            <a href="../catalogue.html">Catalogue</a>
                        </li>
                        <li>
                            <a href="../contacts.html">Contacts</a>
                        </li>
                    </ul>
                </div>
                <hr>
            </div>
        </div>
        <div class="content">
            <div class="product_item">
                <div class="text">
                    <div class="pictures">
                        <div class="preview">
                            <div class="image">
                                <a rel="lightbox[roadtrip]" href="../../static/asustinkerboard_0002.jpeg">
                                    <img src="../../static/asustinkerboard_0002_preview_big.jpeg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <h1>ASUS Tinker Board S</h1>
                        <div class="articul">
                            <p>Артикул:
                                <b>ASUSTBS</b>
                            </p>
                        </div>
                        <div class="price">
                            <p>Цена:
                                <b>8500 руб.</b>
                            </p>
                        </div>
                    </div>
                    <div class="tech">
                        <h3>Технические характеристики</h3>
                        <table cellpadding="2">
                            <tbody>
                                <tr>
                                    <th style="background: grey; text-align: right">Процессор: </th>
                                    <td>SoC Rockchip RK3288 Cortex-A17 Quad-core @1.8GHz</td>
                                </tr>
                                <tr>
                                    <th style="background: grey; text-align: right">Размеры: </th>
                                    <td>54 x 85 mm</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="description">
                        <h3>Описание товара</h3>
                        <p>
                            <strong>ASUS Tinker Board S</strong>
                            &nbsp;- высокопроизводительный одноплатный компьютер от компании Asus. Построен на базе
                            мощного&nbsp;
                            &nbsp;с ядрами Cortex-A17&nbsp;Quad-core,&nbsp;дополненного двухканальной оперативной
                            памятью LPDDR3 объемом 2 ГБ встроенным eMMc-модулем на 16Gb.&nbsp;Кроме того, в нем
                            применяется интерфейс SDIO 3.0, обеспечивающий ускоренный обмен данными с картой памяти
                            micro-SD, которая используется для хранения операционной системы, приложений и
                            пользовательских файлов.&nbsp;За мультимедийную функциональность компьютера Tinker Board
                            отвечает графическое ядро Mali T760 MP4 с архитектурой ARM и непрограммируемые процессоры,
                            поддерживающие аппаратное ускорение при воспроизведении видео в форматах H.264 и H.265.
                            Также Asus Tinker Board S обладает интерфейсом HDMI-CEC, что позволяет пользователю
                            управлять микрокомпьютером и телевизором с помощью одного пульта ДУ.&nbsp;
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <hr>
            <footer>
                G-Shop&copy;2018. All Rights Reserved.
            </footer>
        </div>
    </div>
</body>
</html>